.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.nav-items  > ul{
  display: flex;
  list-style-type: none;
}

.nav-items  > ul > li {
  margin: 10px;

}


.res-card {
  width: 200px;
  height: 400px;
  padding: 5px;
}

.res-card:hover{
border: 1px solid black !important;
cursor: pointer;
}



.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}